@media screen and (max-width: 299px) {
  .logo {
    height: 40px;
  }
  .myname {
    font-size: 2.5em;
  }
  .mytitle {
    font-size: 1.0em;
  }
  .item_logo {
    width: 80%;
    margin-right: 1em;
    margin-top: 1em;
    vertical-align: middle;
  }
  .mywork {
    font-size: 1.5em;
  }
  .item_logo {
    width: 70%;
  }
}

@media screen and (min-width: 300px) {
  .logo {
    height: 50px;
  }
  .myname {
    font-size: 3em;
  }
  .mytitle {
    font-size: 1.0em;
  }
  .mywork {
    font-size: 1.7em;
  }
  .item_logo {
    width: 80%;
  }
}

@media screen and (min-width: 600px) {
  .logo {
    height: 72px;
  }
  .myname {
    font-size: 4em;
  }
  .mytitle {
    font-size: 1.5em;
  }
  .mywork {
    font-size: 1.0em;
  }
  .item_logo {
    width: 80%;
  }
  .container > li {
    width: 50%;
  }
}

@media screen and (min-width: 800px) {
  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-around;
  }
}

@media screen and (min-width: 1024px) {
  html, body {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    height: 100%;
  }
}
